.App {
  text-align: center;
}

.d-inline-block {
  display: inline-block!important;
}

.reserve {
  background-color: rgb(64, 181, 181);
  color:white;
}

.cancel {
  background-color: rgb(66, 68, 68);
  color:white;
}

.active {
  display:block;
  background-color: red;
  color:white;
  width: 80px;  
  }

  .inactive {
    display:none;
  }